#hostDashBoardPage {
  font-size: 18px;
  color: #303133;
}

#hostDashBoardPage QLabel {
  color: #303133;
  font-size: 14px;
}

#hostDashBoardPage QPushButton {
  text-align: center;
  margin: 0;
  font-weight: 500;
  padding: 6px 20px;
  font: 14px "Microsoft JhengHei";
}

#hostDashBoardPage QLineEdit {
  font-size: 14px;
  height: 20px;
  margin-bottom: 6px;
  padding: 2px 6px;
}

#hostDashBoardPage #tokenLabel {
  border: 1px solid #dcdfe6;
  background-color: #909399;
  color: #c0c4cc;
  font-size: 14px;
  height: 20px;
  padding: 2px 6px;
  margin-bottom: 6px;
  border-radius: 4px;
}

#hostDashBoardPage QProgressBar {
  height: 10px;
  border-radius: 5%;
  border: none;
  background-color: #ebeef5;
  text-align: center;
  font-size: 9px;
}

#hostDashBoardPage QProgressBar::chunk {
  background-color: #409eff;
  border-radius: 5%;
  border: none;
}
