#viewport {
  background-color: #ffffff;
  border: 1px solid #dcdfe6;
}

#viewport QLabel {
  color: #606266;
}

#pageSwitchWidget {
  background-color: #ffffff;
}

#pageSwitchWidget PageButton {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 54px;
  border: none;
  border-right: 4px solid rgba(0, 0, 0, 0);
  color: #606266;
  text-align: left;
}

#pageSwitchWidget PageButton:hover {
  color: #303133;
}

#pageSwitchWidget PageButton[class_type="pagebutton.checked"],
#pageSwitchWidget PageButton[class_type="pagebutton.checked"]:pressed {
  border-right: 4px solid #3993fe;
  color: #303133;
}


PictureViewWidget QLabel {
    color: #ffffff;
}

#imageList {
    border: 1px solid #dcdfe6;
}

#uploadStatusLabel {
    color: #909399;
}

#mask {
    background: rgba(0,0,0,0.4);
}

.QFrame[class_type="messagebox"] {
    background: #fff;
    border-radius: 8px;
}

