#viewport {
  background-color: #ffffff;
  border: 1px solid #dcdfe6;
}

#viewport QLabel {
  color: #606266;
}

#pageSwitchWidget PageButton {
  padding: 0px;
  padding-left: 54px;
  border: none;
  border-right: 4px solid rgba(0, 0, 0, 0);
  background: transparent;
  color: #606266;
  text-align: left;
}

#pageSwitchWidget PageButton:hover {
  background-color: rgba(220, 223, 230, 102);
  border-right: 4px solid #a7d2ff;
  color: #303133;
}

#pageSwitchWidget PageButton[class_type="pagebutton.checked"],
#pageSwitchWidget PageButton[class_type="pagebutton.checked"]:pressed {
  border-right: 4px solid #3993fe;
  color: #303133;
}
