#settingsContents {
 background-color: #fff;
}

#settingsPage {
  font-size: 18px;
  color: #303133;
}

#settingsPage QLabel {
  color: #606266;
  font-size: 14px;
}

#settingsPage QPushButton {
  text-align: center;
  margin: 0;
  padding: 6px 20px;
  border-radius: 4px;
  font: 14px;
}

#settingsPage QLineEdit {
  font-size: 14px;
  height: 20px;
  margin-bottom: 6px;
  padding: 2px 6px;
}

#settingsPage QComboBox {
  background-color: #fff;
  border: 1px solid #dcdfe6;
  padding: 2px 6px;
  color: #303133;
  font-size: 14px;
}

#settingsPage QComboBox:hover {
  border: 1px solid #c0c4cc;
}

#settingsPage QComboBox::drop-down {
  border: none;
  background: none;
  right: 8px;
}

#settingsPage QComboBox::down-arrow {
  image: url(:/res/icons/downarrow.png);
}

#settingsPage QComboBox::down-arrow:on {
  image: url(:/res/icons/uparrow.png);
}

#settingsPage QComboBox::on {
  border: 1px solid #409eff;
}

#settingsPage QComboBox QAbstractItemView {
  border: 1px solid #dcdfe6;
  selection-background-color: #f5f7fa;
  selection-color: #303133;
  color: #606266;
  padding-left: 6px;
}

#settingsPage QRadioButton {
  color: #606266;
}
