#uploadBox {
  border: 2px dashed #dcdfe6;
  border-radius: 2px;
}

#uploadBox #uploadBoxContents {
  background-color: #ffffff;
}

#uploadTitle {
  font-size: 36px;
  color: #606266;
}

#uploadPage .QPushButton {
  padding: 12px 24px;
}

#uploadPage .QPushButton#selectFilesButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 1px;
}

#uploadPage .QPushButton#uploadButton {
  border-radius: 0;
  margin-right: 1px;
}

#uploadPage .QPushButton#deleteAllButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#uploadStatusLabel {
  color: #606266;
}
