QPushButton[class_type="link"] {
    border:none;
    background:none;
    font: 14px;
    text-align: left;
    color: #00a4ff;
}

QPushButton:hover[class_type="link"] {
    color: #006eff;
    text-decoration: underline;
}

QPushButton:pressed[class_type="link"] {
    color: #00a4ff;
    text-decoration:underline;
}

PictureTableLine .QLabel{
    font: 14px;
    text-align: left;
    color: #606266;
}

PictureTableHeader .QLabel,
PictureTableHeader .QPushButton[class_type="head"] {
    border:none;
    background:none;
    color: #303133;
    font: bold  14px;
    text-align: left;
}

QCheckBox{
    padding-left: 12px;
    padding-right: 12px;

}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
}

QCheckBox::indicator:unchecked {
    image: url(:/checkbox_o.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(:/checkbox_o_hover.png);
}

QCheckBox::indicator:checked {
    image: url(:/checkbox.png);
}
